<!-- Modal window -->
<div id="nameModal" style="display:none;">
 <p class="explanationB">
	We need the child's fullname, which includes first, middle, and last name as applicable. Below is an example:				
 </p>
 <p class="inputC">
	Anees M. Merzi
 </p>
 <p class="inputC">
</p>
 <p class="whyA">Why?</p>
 <p class="whyDetailsA">
	If this child is eligible, we need to know their name to provide lunch to the right kid.
 </p>
</div>

<!-- Link to open the modal -->
<p class="emojiHelpKids"><a href="#nameModal" rel="modal:open"><%= image_tag('confused.png') %></a></p>


<br/><br/><h3>Please provide us with this child's Full Name to include Middle if they have one</h3>

    <div class="group">      
    	<%= c.text_field :name, :id=>"cName", :size=>"25", :maxlength=>"35", :onkeyup=> "catchName()" %>
    	<span class="bar"></span>
		  <p id="errorName">
			<img src="http://emojipedia-us.s3.amazonaws.com/cache/2f/3c/2f3c03f9e546e4d9652560347210ba9d.png" style="width:20px;height:20px;">We won't be able to provide benefits for casper
		  </p>
		  <p id="successName">
			<img src="http://emojipedia-us.s3.amazonaws.com/cache/f8/69/f869f6512b0d7187f4e475fc9aa7f250.png" style="width:20px;height:20px;">Must be a great kid!
		  </p>
    	<label>Kids Full Name</label><br/><br/>
    	<a id="moveSSRight" class="nextBtnSS">Next</a>
	</div>

<script>

	function catchName(){
		var el1 = document.getElementById("cName");
		var el2 = document.getElementById("kidName1");
		var el3 = document.getElementById("kidName2");
		var el4 = document.getElementById("kidName3");
		var el5 = document.getElementById("kidName4");
		var el6 = document.getElementById("kidName5");
		var el7 = document.getElementById("kidName6");
		var el8 = document.getElementById("kidName7");
		var el9 = document.getElementById("kidName8");
		var el10 = document.getElementById("kidName9");
		var el11 = document.getElementById("kidName10");
		var el12 = document.getElementById("kidName11");
		var str = el1.value;
		var fname = str.substr(0,str.indexOf(' '));
		el2.innerHTML = fname;
		el3.innerHTML = fname;
		el4.innerHTML = fname;
		el5.innerHTML = fname;
		el6.innerHTML = fname;
		el7.innerHTML = fname;
		el8.innerHTML = fname;
		el9.innerHTML = fname;
		el10.innerHTML = fname;
		el11.innerHTML = fname;
		el12.innerHTML = fname;
	}

    $("input[id='cName']").keyup(function(e) {
        if ($.trim($(this).val()) == '') {
            $('#errorName').show();
            $('#successName').hide();
        }
        else {
            $('#errorName').hide();
            $('#successName').show();
        }
    });
    
	$('#moveSSRight').click(function(e){
		if ($.trim($("input[id='cName']").val()) == '') {
			e.preventDefault();
			$('#errorName').show();
            $('#successName').hide();			
		}
		else {
			$('#errorName').hide();
            $('#successName').show();
            $.fn.fullpage.moveSlideRight();
		}
	});		
	
</script>