	<h3>Does <span id="kidName5"></span> Get Money From a Pension?</h3>

	<div class="penCalc">
			<h4>
				Gets $<input type="text" name="pen" value="" placeholder="100">
				<select id="penFreqVal">
					<option value="0">selct frequency</option>
					<option value="52">weekly</option>
					<option value="26">every two weeks</option>
					<option value="24">twice a month</option>
					<option value="12">monthly</option>
				</select>
				<br /><br />	
				which is roughly $<input type="text" name="penTotal" id="penTotal" value="" style="border: none;" readonly> annually
			</h4><br />	
		<%= c.hidden_field :pen, :id=>"penTotal" %>
		<a id="moveSlideRight" class="noWork">Does Not Get Pension</a><a id="moveSlideRight" class="nextBtn" href="#1/6">Next</a>
	</div>


<script>

	$("#penFreqVal").change(function() {
		var a = $('input[name="pen"]').val();
		var b = $(this).val();
		$('input[id="penTotal"]').val(a * b);
	});
	
</script>