	<div class="ssCalc">
		<h3>From Social Security <span class="showAnnSs" style="display:none;">: $<input type="text" name="ssTotal" id="ssTotal" value="" style="border: none;" readonly></span><a class="toggleSs">Details</a></h3>

			<h4 class="ssScale" style="display:none;">
				<span id="kidName7"></span> gets $<input type="text" name="ss" value="" placeholder="100">
				<select id="ssFreqVal">
					<option value="0">how often?</option>
					<option value="52">weekly</option>
					<option value="26">every two weeks</option>
					<option value="24">twice a month</option>
					<option value="12">monthly</option>
				</select>
				<br /><br />	
				which is roughly $<input type="text" name="ssTotal" id="ssTotal" value="" style="border: none;" readonly> annually
			</h4>
		<%= c.hidden_field :ss, :id=>"ssTotal" %>
	</div>

<script>

	$("#ssFreqVal").change(function() {
		var a = $('input[name="ss"]').val();
		var b = $(this).val();
		$('input[id="ssTotal"]').val(a * b);
		$('.ssScale').fadeOut(2000);
		$('.showAnnSs').show();
		$(".toggleSs").show();
		
		$('.ssCalc').toggleClass("active");
	});
	
	$(".toggleSs").click(function() {
		$('.ssScale').toggle();
		$('.showAnnSs').show();
		
        $('.ssCalc').toggleClass("active");
	});
	
</script>
