<div class="cStatusField">
	<h3>Please Mark all that describe <span id="kidName1"></span></h3>
	<div class="cStatus">
		<h6><%= c.check_box :student %>Student</h6>
		<h6><%= c.check_box :foster %>Foster</h6>
		<h6><%= c.check_box :hmr %>Homeless/Migrant/Runaway</h6>
		<h6><%= c.check_box :hs %>Head Start</h6>
	</div>
	<br/><br/>
    <a id="moreChildren" class="nextBtnBlk" href="#1/2">Next</a>
</div>