<div class="aliCalc">
	<h3>From Mandated Alimony <span class="showAnnAli" style="display:none;">: $<input type="text" name="aliTotal" id="aliTotal" value="" style="border: none;" readonly></span><a class="toggleAli">Details</a></h3></h3>
	<h4 class="aliScale" style="display:none;">
		<span id="adultName4"><%= @household.fillerName %></span> Gets $<input type="text" name="ali" value="" placeholder="100">
		<select id="aliFreqVal">
			<option value="0">how often?</option>
			<option value="52">weekly</option>
			<option value="26">every two weeks</option>
			<option value="24">twice a month</option>
			<option value="12">monthly</option>
		</select>
		<br /><br />	
		which is roughly a gross annual income of $<input type="text" name="aliTotal" id="aliTotal" value="" style="border: none;" readonly>
	</h4>	
	
	<%= a.hidden_field :ali, :id=>"aliTotal" %>
</div>


<script>

	$("#aliFreqVal").change(function() {
		var a = $('input[name="ali"]').val();
		var b = $(this).val();
		$('input[id="aliTotal"]').val(a * b);
		$('.aliScale').fadeOut(2000);
		$('.showAnnAli').show();
		$(".toggleAli").show();
		
		$('.aliCalc').toggleClass("active");
	});
	
	$(".toggleAli").click(function() {
        $('.aliCalc').toggleClass("active");
	
		$('.aliScale').toggle();
		$('.showAnnAli').show();
	});
	
</script>
	