<div class="csCalc">
	<h3>From Child Support <span class="showAnnCs" style="display:none;">: $<input type="text" name="csTotal" id="csTotal" value="" style="border: none;" readonly></span><a class="toggleCs">Details</a></h3></h3>
	<h4 class="csScale" style="display:none;">
		<span id="adultName5"><%= @household.fillerName %></span> Gets $<input type="text" name="cs" value="" placeholder="100">
		<select id="csFreqVal">
			<option value="0">how often?</option>
			<option value="52">weekly</option>
			<option value="26">every two weeks</option>
			<option value="24">twice a month</option>
			<option value="12">monthly</option>
		</select>
		<br /><br />	
		which is roughly a gross annual income of $<input type="text" name="csTotal" id="csTotal" value="" style="border: none;" readonly>
	</h4>	
	
	<%= a.hidden_field :cs, :id=>"csTotal" %>
</div>


<script>

	$("#csFreqVal").change(function() {
		var a = $('input[name="cs"]').val();
		var b = $(this).val();
		$('input[id="csTotal"]').val(a * b);
		$('.csScale').fadeOut(2000);
		$('.showAnnCs').show();
		$(".toggleCs").show();
		
		$('.csCalc').toggleClass("active");
	});
	
	$(".toggleCs").click(function() {
        $('.csCalc').toggleClass("active");
	
		$('.csScale').toggle();
		$('.showAnnCs').show();
	});
	
</script>
	