	<h3>Do you Currently Serve in the Military?</h3><br/><br/>
	<div class="mil">
		<a id="moveSlideRight" class="nextBtnOr" href="#1/3">Not Serving</a>
		<a id="yesMil" class="nextBtnBlk">Yes</a>	
	</div>
	
	<div class="milCalc" style="display:none;">
		<h5>
			Thank you for your family's Service and Sacrifice!<br />Please Select Current Rank, 
			Years of Service, and Status
		</h5><br/>
		<select id="rank">
			<option>E6</option>
			<option>E5</option>
			<option>E4</option>
			<option>E3</option>
		</select>
		<select id="years">
			<option>6</option>
			<option>5</option>
			<option>4</option>
			<option>3</option>
		</select>
		<a id="activeDuty" class="nextBtnOr">Active</a>
		<a id="nationalGuard" class="nextBtnOr">National Guard</a>
		<a id="reserves" class="nextBtnOr">Reserves</a>
		<br /><br />		
		
		<%= a.text_field :mil %>
		<%= a.hidden_field :name, :value => @household.fillerName %>
		<a id="moveSlideRight" class="nextBtnBlk" href="#1/3">Next</a> 
	</div>
	
<script>

	
</script>
