<div class="paCalc">
	<h3>From Public Assistance <span class="showAnnPa" style="display:none;">: $<input type="text" name="paTotal" id="paTotal" value="" style="border: none;" readonly></span><a class="togglePa">Details</a></h3></h3>
	<h4 class="paScale" style="display:none;">
		<span id="adultName9"><%= @household.fillerName %></span> Gets $<input type="text" name="pa" value="" placeholder="100">
		<select id="paFreqVal">
			<option value="0">how often?</option>
			<option value="52">weekly</option>
			<option value="26">every two weeks</option>
			<option value="24">twice a month</option>
			<option value="12">monthly</option>
		</select>
		<br /><br />	
		which is roughly a gross annual income of $<input type="text" name="paTotal" id="paTotal" value="" style="border: none;" readonly>
	</h4>	
	
	<%= a.hidden_field :pa, :id=>"paTotal" %>
</div>


<script>

	$("#paFreqVal").change(function() {
		var a = $('input[name="pa"]').val();
		var b = $(this).val();
		$('input[id="paTotal"]').val(a * b);
		$('.paScale').fadeOut(2000);
		$('.showAnnPa').show();
		$(".togglePa").show();
		
		$('.paCalc').toggleClass("active");
	});
	
	$(".togglePa").click(function() {
        $('.paCalc').toggleClass("active");
	
		$('.paScale').toggle();
		$('.showAnnPa').show();
	});
	
</script>