<div class="pCalc">
	<h3>From Pension <span class="showAnnP" style="display:none;">: $<input type="text" name="pTotal" id="pTotal" value="" style="border: none;" readonly></span><a class="toggleP">Details</a></h3></h3>
	<h4 class="pScale" style="display:none;">
		<span id="adultName10"><%= @household.fillerName %></span> Gets $<input type="text" name="p" value="" placeholder="100">
		<select id="pFreqVal">
			<option value="0">how often?</option>
			<option value="52">weekly</option>
			<option value="26">every two weeks</option>
			<option value="24">twice a month</option>
			<option value="12">monthly</option>
		</select>
		<br /><br />	
		which is roughly a gross annual income of $<input type="text" name="pTotal" id="pTotal" value="" style="border: none;" readonly>
	</h4>	
	
	<%= a.hidden_field :pen, :id=>"pTotal" %>
</div>


<script>

	$("#pFreqVal").change(function() {
		var a = $('input[name="p"]').val();
		var b = $(this).val();
		$('input[id="pTotal"]').val(a * b);
		$('.pScale').fadeOut(2000);
		$('.showAnnP').show();
		$(".toggleP").show();
		
		$('.pCalc').toggleClass("active");
	});
	
	$(".toggleP").click(function() {
        $('.pCalc').toggleClass("active");
	
		$('.pScale').toggle();
		$('.showAnnP').show();
	});
	
</script>