	<h3>If <span id="adultName10"><%= @household.fillerName %></span> is Self-Employed, Please provide Total Revenue and Expenses?</h3>

	<div class="seCalc">
			<h4>
				Generates $<input type="text" name="seRev" value="" placeholder="100"> in revenue 
				and has $<input type="text" id="seExp" value="" placeholder="100"> in total expenses
	
				<br /><br />	
				which is a net income of roughly $<input type="text" name="seTotal" id="seTotal" value="" style="border: none;" readonly>
			</h4><br />	
		<%= a.hidden_field :se, :id=>"seTotal" %>
		 <a id="moveSlideRight" class="nose" href="#1/10">Not Self-Employed</a><a id="moveSlideRight" class="nextBtn" href="#1/10">Next</a>
	</div>


<script>

	$("#seExp").keyup(function() {
		var a = $('input[name="seRev"]').val();
		var b = $(this).val();
		$('input[id="seTotal"]').val(a - b);
	});
	
</script>