<!-- Modal window -->
<div id="aModal" style="display:none;">
<p class="explanationA">
	You are only required to provide a zip code. Below is an example of what we expect:
</p><br /><br /><br />
<p class="inputA">
	123 Main St. Apt#3
</p>
<p class="inputB">
	92054
</p>
 <p class="whyA">Why?</p>
 <p class="whyDetailsA">
	This helps us contact you when we determine eligibility for a household. The less you share with us
	the harder it is to track you down. 
 </p>
</div>

<!-- Link to open the modal -->
<p class="emojiHelp"><a href="#aModal" rel="modal:open"><%= image_tag('confused.png') %></a></p>

<div class="currentAddress">
	<h3>Got it <%= @household.fillerName %>! Where do you currently live? <br />No worries if you can only provide a zipcode</h3>
	
	<div class="group">      
		<%= f.text_field :street, :size=>"30", :maxlength=>"35", :autofocus=>true %>
		<span class="bar"></span>
		<label>Street Address</label>
	</div>
	<div class="group">      
		<%= f.text_field :zip, :size=>"5", :maxlength=>"5", :required => true %>
		<span class="bar"></span>
		<p id="errorName">
			<img src="http://emojipedia-us.s3.amazonaws.com/cache/2f/3c/2f3c03f9e546e4d9652560347210ba9d.png" style="width:20px;height:20px;">We need your zipcode to route your packet
		</p>
		<p id="successName">
			<img src="http://emojipedia-us.s3.amazonaws.com/cache/f8/69/f869f6512b0d7187f4e475fc9aa7f250.png" style="width:20px;height:20px;">Thanks!
		</p>
		<label>Zip Code</label>
	</div>
	
	<a id="moveSlideRight" class="nextBtn" href="#1/1">Next</a>
</div>

<script>

    $("input[id='household_zip']").blur(function(e) {
        if ($.trim($(this).val()) == '') {
            $('#errorName').show();
            $('#successName').hide();
        }
        else {
            $('#errorName').hide();
            $('#successName').show();
        }
    });

</script>