<!-- Modal window -->
<div id="caseModal" style="display:none;">
<p class="explanationA">
We are looking for a case number of any household member that is apart of these programs: Supplemental Nutrition Assistance Program (SNAP), Food Distribution Program on Indian Reservations (FDPIR), or Temporary Assistance for Needy Families (TANF). 
Click "Dont Receive Assistance" if this doesn't apply to you.

 <p class="whyA">Why?</p>
 <p class="whyDetailsA">
	If any household member receives Assistance from one of these Programs, all children in the household qualify for free school meals under categorical eligibility.
</p>
 </p>
</div>

<!-- Link to open the modal -->
<p class="emojiHelp"><a href="#caseModal" rel="modal:open">&#128533;why?</a></p>


<h3>Does anyone in the house receive assistance from SNAP, TANF, or FDPIR?</h3>

<div class="hasCaseNum">
	<h5>Please provide a case number so we can expedite your packet!</h5>
	<div class="group">      
		<%= f.text_field :casenum, :size=>"20", :maxlength=>"30", :autofocus => true %><button type="button" id="noCase">Don't Receive Assistance</button>
    	<span class="bar"></span>
    	<label>Case Number</label>
	</div>
	<%= f.submit "Submit Case Number", class: "nextBtn" %>
</div>

<div class="finishCaseNum" style="display:none;">
	<h5>No problem. This does not affect eligibility.</h5>
	<%= f.submit "Go to Kids Section", class: "nextBtn" %>
</div>

<script>
	$("#noCase").click(function(){
        $(".finishCaseNum").show();
        $(".hasCaseNum").hide();
    });
</script>