#navi {
	width: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	padding: 0;
	margin: 0;
	h4 {
		width: 100%;
		padding: 0;
		margin: 0;
		color: white;
	}
	.legal {
		display: inline;
		font-size: 13px;
		color: white;
		a.promise{
			color: white;
			position: fixed;
			right: 10px;
			top: 20px;
		}
	}
	img {
		padding: 0;
		margin: 0;
	}
}
#usda {
	color: white;
	width: 100%;
	h1 {	
		font-size: 70px;
		padding:20px 0 0 0;
		margin: 0;
		font-weight: bold;
		color: white;
	}
	.tagline {
		font-size: 30px;
		font-family: georgia;
		font-style: italic;
		color: #f5f5f5;
		text-shadow: none;
	}
}


#errorName, #successName{
	display:none;
	background-color: #fff;
	color: #333;
	font-size: 13px;
	padding:8px 5px 10px 5px;
	width: 41%;
	p{
		display:inline;
		margin: 0;
	}
}

.bubble-lft, .bubble-lft-ld, .bubble-rt, .bubble-rt-ld, .bubble-done {
	text-align: left;
	font-size: 28px;
}
.bubble-lft, .bubble-rt, .bubble-rt-ld {
	position: fixed;
	border-radius: 5px;
	background: #E6E6E6;
}

.bubble-lft {
	color: #fff;
	position: fixed;
	top: 60%;
	left: 25%;
	width: 80px;
	padding: 5px 12px 0 12px;
}

.bubble-rt {
	position: fixed;
	top: 45%;
	left: 48%;
	width: 210px;
	padding: 10px 20px;
}

.bubble-done-1, .bubble-done-2, .bubble-done-3 {
	width: 300px;
	padding: 10px 12px;
	position: fixed;
	border-radius: 5px;
	font-size: 25px;
	background: #E6E6E6;
	text-align: left;
}
.bubble-done-1 {
	top: 15%;
	left: 38%;
}
.bubble-done-2 {
	top: 40%;
	left: 38%;
}
.bubble-done-3 {
	top: 65%;
	left: 38%;
}

.bubble-lft:after, .bubble-rt:after, .bubble-done:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	border-color: transparent #E6E6E6;
}
.bubble-lft:after {
	right: 100px;
	top: 0px;
	border-width: 0 40px 31px 0;
}
.bubble-rt:after {
	left: -30px;
	top: 57px;
	border-width: 31px 40px 0 0;
}

.bubble-lft-ld {
	position: fixed;
	border-radius: 5px;
	font-size: 30px;
	background: #2196f3;
	color: #fff;
	top: 61%;
	left: 25%;
	width: 210px;
	padding: 5px 20px;
}

.bubble-lft-ld:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	border-color: transparent #2196f3;
	left: -35px;
	top: 0px;
	border-width: 0 40px 31px 0;
}

.bubble-rt-ld {
	position: fixed;
	border-radius: 5px;
	font-size: 30px;
	top: 71%;
	left: 48%;
	width: 210px;
	padding: 10px 20px;
}

.bubble-rt-ld:after {
	content: '';
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	z-index: 1;
	border-color: transparent #E6E6E6;
	left: -30px;
	top: 61px;
	border-width: 31px 40px 0 0;
}
#new_household{
	padding: 0;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	input#name {
	  font-size:25px;
	  padding:10px;
	  width: 400px;
	  position: fixed;
	  bottom: 20%;
	  left: 28%;
	  display:inline;
	  color:#212121;
	  background-color: transparent;
	  border:1px solid grey;
	  background-color: #E6E6E6;
	}
	input:focus 		{ outline:none; }
	.sendBtn {
	  color: #E6E6E6;
	  font-size: 25px;
	  text-decoration: none;
	  cursor: pointer;
	  position: fixed;
	  bottom: 22%;
	  right: 33%;
	}
}

.splashPage {
	background-image: url("jumbo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	overflow: hidden;
	.ctaButton {
		box-shadow: 0px 7px 1px 0px #108bec;
		background-color:#2196f3;
		display:inline-block;
		cursor:pointer;
		color:#fff;
		font-weight:bold;
		font-size: 25px;
		padding:15px 42px;
		text-decoration:none;
		text-shadow:0px 1px 2px #212121;
		position: fixed;
		bottom: 2%;
		left: 39%;
	}
	input[type=submit].ctaButton {
		box-shadow: 0px 7px 1px 0px #108bec !important;
		background-color:#2196f3 !important;
		border: 1px solid #2196f3 !important;
		display:inline-block !important;
		cursor:pointer !important;
		color:#fff !important;
		font-size:25px !important;
		font-weight:bold !important;
		padding:15px 42px !important;
		text-decoration:none !important;
		text-shadow:0px 1px 2px #212121 !important;
	}
	input[type=submit].ctaButton:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
		transition-delay: 0s !important;
	}
	.ctaButton:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}
}

.overviewPage {
	p {
		margin: 0;
		padding: 5px 5px 12px 5px;
		font-size: 20px;
		color: #333;
		text-align: left;
	}
	h4 {
		padding: 50px 0 !important;
	}
	h5 {
		padding: 20px 0 0 0 !important;
	}
	h3 {
		padding: 0 0 0 0 !important;
	}
	.kboard-arrow, .kboard-tab {
		display: inline;
		margin: 5px;
		padding: 5px 20px;
		background-color: #333;
		color: #fff;
	}
	.sideLt, .sideRt {
		width: 46%;
		height: 210px;
		display: inline;
		margin: 0;
		padding: 10px;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.sideLt{
		float: left;
		background-color: rgba(255, 255, 255, 0.6);
	}
	.sideRt {
		float: right;
		background-color: rgba(255, 255, 255, 0.6);
		p {
			padding: 5px 5px 20px 5px !important;
		}
	}
}


h1 {
  font-size: 28px;
  margin-bottom: 2.5%;
}

/* style question container */
.qArea {
	width: 90%;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	height: 100%;
	.shareBackground, .cStatus, .aStatus {
		text-align: left;
		display: inline;
		input[type=checkbox]{
			margin: 10px 5px 0 0;
			float: left;
		}
		h3, h4 {
			text-align: center;
		}
		h6 {
			font-size: 25px;
			width: 100%;
			margin: 0 0 0 460px;
			padding: 5px 0;
		}
	}
	h1 {
	
	}
	h2 {
	
	}
	h3 {
		font-size: 35px;	
		padding: 30px 0; 
	}
	h4 {
		font-size: 25px;
		text-align: left;
	}
	h5 {
		font-size: 25px;
		padding: 30px 0;
	}
	h6 {
		font-size: 25px;
	}
	.payCalc, .annCalc, .penCalc, .smCalc, .ssCalc, .truCalc,
	.aliCalc, .csCalc, .workCalc, .otherCalc, .paCalc, .pCalc, .retCalc, .seCalc {
		padding: 30px 0 0 0;
		h4 {
			float: left;
			width: 100%;
			text-align: center;
			padding: 50px 0;
		}
		input[type=text]{
			width: 13% !important;
			display:inline !important;
		}
		.showAnnAnn, .showAnnPay, .showAnnPen, .showAnnSm, .showAnnSs, .showAnnTru,
		.showAnnAli, .showAnnWork, .showAnnP, .showAnnCs, .showAnnPa, .showAnnOther, .showAnnRet, .showAnnSe{
			input[type=text]{
				border: none !important;
				font-size: 35px !important;
				width: 20% !important;
			}
		}
		select {
			font-size: 25px;
			margin: 5px;
			padding: 5px;
		}
		h3 {
			text-align: left; 
			padding: 0 0 0 265px;
			width: 65%;
		}
		a.togglePay, a.toggleAnn, a.togglePen, a.toggleSm, a.toggleSs, a.toggleTru,
		a.toggleWork, a.toggleAli, a.toggleCs, a.togglePa, a.toggleP, a.toggleRet, a.toggleSe, a.toggleOther {
			padding: 10px 15px;
			background-color: #333;
			border:none;
			color: #fff;
			text-decoration: none;
			font-size: 14px;
			float:right;
			margin: 2px 0 0 0;
			cursor: pointer;
		}
		
	}
	.payCalc.active , .annCalc.active, .penCalc.active, .smCalc.active, .ssCalc.active, .truCalc.active, 
	.aliCalc.active, .csCalc.active, .workCalc.active, .otherCalc.active, .paCalc.active, .pCalc.active, .retCalc.active, .seCalc.active{
		padding-bottom: 500px;
	}
	button#digi, button#type, #yesCase{
		background-color:orange;
		cursor:pointer;
		color:#fff;
		font-weight:bold;
		font-size: 20px;
		padding:15px 42px;
		text-decoration:none;
		border: none;
		margin: 100px 5px;
	}
	.ssnLast4, .hasCaseNum {
		margin: 0 auto;
		text-align: center;
		.group {
	  		float:left;
	  		margin: 35px auto 0 36%;
		}
		.nextBtnOr{
			padding: 15px 40px;
			background-color: orange;
			margin: 0 15px 0 -95px;
			font-size: 25px;
			cursor: pointer;
			color: #fff !important;
		}
		.nextBtnBlk {
			padding: 15px 40px;
			background-color: #2196f3;
			font-size: 25px;
			cursor: pointer;
			color: #333 !important;
			border:none !important;
		}

		.bar:before,
		.bar:after {
		  content: '';
		  height: 2px;
		  width: 0;
		  bottom: 0;
		  position: absolute;
		  background: #212121;
		  transition: 0.2s ease all;
		  -moz-transition: 0.2s ease all;
		  -webkit-transition: 0.2s ease all;
		}

		input#household_four, input#household_casenum{
			margin: 0 !important;
		}
	}
	#noTru {
		color:#fff;
	}
	/* form starting stylings ------------------------------- */
	
	.group {
	  position: relative;
	  margin: 45px auto 45px 36%;
	}
	
	input[type=text], input[type=email] {
	  font-size: 25px !important;
	  padding: 5px !important;
	  display: block !important;
	  width: 300px !important;
	  border: none !important;
	  border-bottom: 1px solid #757575 !important;
	  background-color: transparent !important;
	  color: #333 !important;
	}
	
	input:focus {
	  outline: none;
	}
	
	
	/* LABEL ======================================= */
	
	label {
	  color: #333;
	  font-size: 19px;
	  font-weight: normal;
	  position: absolute;
	  pointer-events: none;
	  left: 5px;
	  top: -20px;
	  transition: 0.2s ease all;
	  -moz-transition: 0.2s ease all;
	  -webkit-transition: 0.2s ease all;
	}

	/* active state
	
	input:focus ~ label,
	input:valid ~ label {
	  top: -20px;
	  font-size: 14px;
	  color: #333;
	}
*/
	
	
	/* BOTTOM BARS ================================= */
	
	.bar, .bar-4, .bar-c {
	  position: relative;
	  display: block;
	  width: 310px;
	}
	
	.bar:before,
	.bar:after {
	  content: '';
	  height: 2px;
	  width: 0;
	  bottom: 0;
	  position: absolute;
	  background: #212121;
	  transition: 0.2s ease all;
	  -moz-transition: 0.2s ease all;
	  -webkit-transition: 0.2s ease all;
	}

	.bar-4:before,
	.bar-4:after {
	  content: '';
	  height: 2px;
	  width: 0;
	  bottom: 86px;
	  position: absolute;
	  background: #212121;
	  transition: 0.2s ease all;
	  -moz-transition: 0.2s ease all;
	  -webkit-transition: 0.2s ease all;
	}
	
	.bar-c:before,
	.bar-c:after {
	  content: '';
	  height: 2px;
	  width: 0;
	  bottom: 115px;
	  position: absolute;
	  background: #212121;
	  transition: 0.2s ease all;
	  -moz-transition: 0.2s ease all;
	  -webkit-transition: 0.2s ease all;
	}
	
	.bar:before, .bar-4:before, .bar-c:before {
	  left: 50%;
	}
	
	.bar:after, .bar-4:after, .bar-c:after {
	  right: 50%;
	}
	
	
	/* active state */
	
	input:focus ~ .bar:before,
	input:focus ~ .bar:after,
	input:focus ~ .bar-4:before,
	input:focus ~ .bar-4:after,
	input:focus ~ .bar-c:before,
	input:focus ~ .bar-c:after {
	  width: 50%;
	}
	
}


/* Progress Bar */
#btmProgress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	background-color: #f1f1f1;
	.eachSection{
		display: inline;
		float: left;
		text-align: center;
		margin: 0 7%;
		img  {
			height: 40px;
			width: 50px;
			display: inline;
			opacity: 0.5;
		}
		.sectionTitle, .sectionTitle-current, .sectionTitle-done {
			display: block;
		}
		.sectionTitle-current {
			border-bottom: 3px solid orange;
		}
	}
	img.current, img.done {
		opacity: 0.9;
	}
/*
	img.complete {
		background-color: orange;
		border: 3px solid #212121;
		border-radius: 50%;
	}
*/
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0 0 0 0;
	background-color: #f1f1f1;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: auto;
	img {
		padding: 0;
		margin: 0;
		display:inline;
	}
	li {
		margin: 0 auto;
		padding: 0 90px;
		text-align: center;
		display: inline;
	}
	.sectionTitle {
		 display: block;
	}
	li a {
		color: #000;
		text-decoration: none;
	}
	li.milestone {
		padding: 0;
	}
	li a.active {
		background-color: #4CAF50;
		color: white;
	}
	li a:hover:not(.active) {
		background-color: #555;
		color: white;
	}
}
ul.steps {
	top: 56px;
	padding: 9px 0 0 0;
}


/* Show navbar */

#pdf{
	margin: 0 auto;
	font-family: arial;
	background-color: white;
	height: 100%;
	font-size: 12px;
	overflow-x: hidden;
	text-align: left;
}

#showNav{
	padding: 0;
	margin: 0;
	padding: 5px;
	background-color: #fff;	
	h3{
		margin: 0;
		padding: 10px 0;
		display: inline;
		color: #212121;
		float: left;
		width: 75%;
		text-align: left;
	}
	.btnExport {
		display: inline-block;
		border-radius: 2px;
		padding: 10px 20px !important;
		background-color: #4285f4;
		color: #fff !important;
		cursor: pointer;
	}
	.btnNo {
		display: inline-block;
		border-radius: 2px;
		padding: 10px 20px !important;
		background-color: orange;
		color: #fff !important;
		cursor: pointer;
	}
	input[type=submit] {
		color:#fff !important;
		text-shadow:none !important;
		border:none !important;
		box-shadow:none !important;
		border-radius: 2px;
		padding: 9px 20px;
	}
	a:link, a:visited, a:hover, a:active {
		color: inherit;
		text-decoration: none;
	}
	a:active {
		border: none;
	}
}

/* Edit Application */
input.btnExport {
	font-size: 16px;
	font-family: verdana;
	outline: none;
}
	
p#flash_notice, p#flashNotice{
	background-color: #2196f3;
	font-size: 16px;
	color: #fff;
}
	
#edit-pdf{
	margin: 0 auto;
	background-color: white;
	font-size: 14px !important;
	font-size: 12px;
	overflow-x: hidden;
	text-align: left;
	input{
		font-size: 14px !important;
	}
	fieldset {
		border: 0;
		display: none;
	}
	table {
		padding: 10px;
	}
	.child, .income, .contact, .optional {
		margin: 0 auto;
	}
	.aIncome th{
		text-align: center !important;
		width: 95% !important;
	}

	.details {
		color: white;
		padding: 5px 10px;
		margin: 0;
		font-size: 14px;
		background-color: grey;
		width: 100%;
		text-align: center;
	}
	
	.step{
		background-color: black;
		color: white;
		font-size: 14px;
		text-align: center;
		margin: 0;
		padding: 5px 10px;	
		float: left;
	}
	.NA {
		text-align: center;
		margin: 10px;
		font-weight: bold;
		width: 95%;
		float: right;
	}
	h2.NR {
		text-align: center;
		margin: 10px 10px 10px 70px;
		font-weight: bold;
		width: 95%;
	}
	.children, .contactInfo, .ethnicity  {
		width: 100%;
	}

	.case {
		padding: 10px 0 0 10px;
	}
	th, td {
		text-align: left;
	}
	
	.children td, .aIncome td {
		border: 1px solid grey;
	}
	.section {
		font-weight: bold;
	}
	.total th{
		padding: 2px 20px 0 0;
	}
	.info td{
		border: 1px solid grey;
		padding: 5px;
	}
	.optional{
		td{
			padding: 5px 5px 5px 0;
			select{
				float:left;
				margin: 0 5px 0 0;
			}
		}
	}
	
}



#thanks {
	width: 100%;
	height: 100%;
	padding:0;
	margin: 0 auto 0 auto;
	.checkmark {
	  padding: 0 0 60px 0;
	  margin: 0 auto 0 auto;
	}
	.checkmark:before {
	  margin: 2% auto 0 auto;
	  content: " ";
	  display: block;
	  border: 75px solid #fff;
	  border-radius: 100px;
	  width: 0;
	  box-shadow: 0 0 0 10px #10a023;
	}
	.checkmark:after {
	  margin: -11% auto 0 auto;
	  content: " ";
	  display: block;
	  width: 40px;
	  height: 100px;
	  border: solid #10a023;
	  border-width: 0 10px 12px 0;
	  transform: rotate(45deg);
	}
	.ctaButton, .ctaButtonOr {
		display:inline-block;
		position:fixed;
		cursor:pointer;
		color:#fff;
		font-weight:bold;
		font-size: 25px;
		padding:15px 42px;
		text-decoration:none;
		text-shadow:0px 1px 2px #212121;
		bottom: 5%;
	}
	.ctaButton {
		box-shadow: 0px 7px 1px 0px #108bec;
		background-color:#2196f3;	
		left: 51%;
	}
	.ctaButtonOr {
		box-shadow: 0px 7px 1px 0px #ff9a00;
		background-color:orange;
		left: 24%;
	}
	input[type=submit].ctaButton {
		box-shadow: 0px 7px 1px 0px #108bec !important;
		background-color:#2196f3 !important;
		border: 1px solid #2196f3 !important;
		display:inline-block !important;
		cursor:pointer !important;
		color:#fff !important;
		font-size:25px !important;
		font-weight:bold !important;
		padding:15px 42px !important;
		text-decoration:none !important;
		text-shadow:0px 1px 2px #212121 !important;
	}
	input[type=submit].ctaButton:active {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2) !important;
		transition-delay: 0s !important;
	}
	.ctaButton:active, .ctaButtonOr:active  {
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
		transition-delay: 0s;
	}
}

/* Application Prototype View */

#pdf{
	margin: 0 auto;
	font-family: arial;
	background-color: white;
	font-size: 12px;
	overflow-x: hidden;
	text-align: left;

	.child, .assistance, .income, .contact, .optional {
		padding: 0 0 20px 0;
		margin: 0 auto;
	}
	
	.details {
		color: white;
		padding: 5px 10px;
		margin: 0;
		font-size: 14px;
		background-color: grey;
		width: 100%;
		text-align: center;
	}
	
	.step{
		background-color: black;
		color: white;
		font-size: 14px;
		text-align: center;
		margin: 0;
		padding: 5px 10px;
		
		float: left;
	}
	.children, .aIncome, .contactInfo, .ethnicity  {
		width: 100%;
	}
	th, td {
		text-align: left;
	}
	
	.children td, .aIncome td {
		border: 1px solid grey;
	}
	.case {
		border: 1px solid grey;
		float: right;
		padding: 5px 35px 5px 5px;
		font-weight: bold;
		margin: 5px 9px 0 0;
	}
	.section {
		font-weight: bold;
	}
	.total th{
		padding: 2px 20px 0 0;
	}
	.info td{
		border: 1px solid grey;
		padding: 5px;
	}
}
